In [177]:
import pandas as pd
df=pd.read_csv("tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [179]:
df.groupby("day")["tip"].mean()

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [181]:
df.groupby("size")["total_bill"].sum()

size
1      28.97
2    2565.89
3     884.55
4    1058.70
5     150.34
6     139.32
Name: total_bill, dtype: float64

In [183]:
df.groupby(["day","time"]).apply(lambda x:(x["tip"].sum()/x["total_bill"].sum())/100)

day   time
Fri   Dinner    0.001495
      Lunch     0.001855
Sat   Dinner    0.001464
Sun   Dinner    0.001520
Thur  Dinner    0.001597
      Lunch     0.001567
dtype: float64

In [185]:
df.groupby("sex")["tip"].max()

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [187]:
df.groupby(["day","size"]).agg({"total_bill":"sum","tip":"sum"})

           total_bill     tip
day  size
Fri  1           8.58    1.92
     2         261.15   42.31
     3          15.98    3.00
     4          40.17    4.73
Sat  1          10.32    2.00
     2         892.37  133.43
     3         459.17   68.36
     4         388.39   53.61
     5          28.15    3.00
Sun  2         684.84  109.86
     3         332.76   46.81
     4         480.39   73.58
     5          81.00   12.14
     6          48.17    5.00
Thur 1          10.07    1.83
     2         727.53  117.24
     3          76.64   10.77
     4         149.75   21.09
     5          41.19    5.00
     6          91.15   15.90

In [189]:
df.groupby("day").apply(lambda x: x[x['size'] >= 2]['tip'].mean())

day
Fri     2.780000
Sat     3.040000
Sun     3.255132
Thur    2.786885
dtype: float64

In [191]:
df[df.total_bill==df.total_bill.max()]["tip"].mean()

10.0

In [237]:
df.groupby("day").apply(lambda x: x[(x["size"]==3)| (x["size"]==4)]["total_bill"].sum())

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3101072006.py, line 1)